<ul *ngIf="musicStatus !== undefined; else loading">
  <li *ngIf="musicStatus.isSpotifyAccountRegistered">✅ Connecté à Spotify</li>
  <li *ngIf="!musicStatus.isSpotifyAccountRegistered">
    ❌ Non connecté à Spotify
    <ul>
      <li>
        <musira-spotify-login
          [format]="'Link'"
          [text]="'Se connecter'"
        ></musira-spotify-login>
      </li>
    </ul>
  </li>
  <li
    class="cursor-pointer"
    *ngIf="musicStatus.engineStarted"
    (click)="collapsed = !collapsed"
  >
    ✅ <span class="underline">Gestion de la playlist</span>
    <div *ngIf="collapsed" class="ml-4 mt-2 mb-2 text-xl">
      <a (click)="stopEngine()">Arrêter la gestion de la playlist</a>
    </div>
  </li>
  <li
    class="cursor-pointer"
    *ngIf="!musicStatus.engineStarted"
    (click)="collapsed = !collapsed"
  >
    ❌ <span class="underline">Gestion de la playlist arrếté</span>
    <div class="ml-4 mt-2 mb-2 text-xl">
      <a (click)="startEngine()">Lancer la gestion de la playlist</a>
    </div>
  </li>
  <li *ngIf="backlog && backlog.length > 0">✅ Titres présent en réserve</li>
  <li *ngIf="!backlog || backlog.length === 0">
    ❌ Ancun titre en réserve
    <div class="ml-4">
      <a
        [routerLink]="['/', currentSessionCode, 'session-settings']"
        fragment="backlog"
        class="ml-4 mt-2 mb-2 text-xl"
        >Ajouter des titres à la réserve</a
      >
    </div>
  </li>
</ul>
<p *ngIf="error">{{ error }}</p>

<ng-template #loading> Chargement </ng-template>
