<h1>Spotify settings</h1>
<musira-spotify-device></musira-spotify-device>

<h1>Vote settings</h1>
<div *ngIf="maxVote !== null">
  <input type="number" [(ngModel)]="maxVote" />
  <button (click)="setMaxVotes(maxVote)">Save</button>
</div>

<h1>Max queuable songs settings</h1>
<div *ngIf="maxQueuableSongs !== null">
  <input type="number" [(ngModel)]="maxQueuableSongs" />
  <button (click)="setMaxVotes(maxQueuableSongs)">Save</button>
</div>

<button (click)="deleteSession()">Delete session</button>
