:root {
  --bg-primary: #0b0b0b;
  --bg-secondary: #1b1b1b;
  --font-primary: #f1f1f1;
  --text-light: #a3a3a3;
  --primary: #1db954;
  --primary-hover: #1aa34a;
  --primary-link: #7dcfff;
  --primary-link-hover: #b1e1ff;
  --disabled: #3a3a3a;
}
