<h1>Sessions list</h1>

<table class="table-auto">
  <thead>
    <tr>
      Id
    </tr>
    <tr>
      Name
    </tr>
    <tr>
      Code
    </tr>
    <tr>
      Creator
    </tr>
    <tr>
      Linked to spotify
    </tr>
    <tr>
      Actions
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let session of sessionsList">
      <th>{{ session.id }}</th>
      <th>{{ session.name }}</th>
      <th>{{ session.code }}</th>
      <th>{{ session.creator }}</th>
      <th>{{ session.linkedToSpotify }}</th>
      <td>
        <button (click)="deleteSession(session.code)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<h1>User list</h1>
<table class="user-list">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>role</th>
      <th>loginTries</th>
      <th>locked</th>
      <th>created_at</th>
      <th>updated_at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersList">
      <th>{{ user.id }}</th>
      <th>{{ user.name }}</th>
      <th>{{ user.role }}</th>
      <th>{{ user.type === 'EMAIL' && user.loginTries }}</th>
      <th>{{ user.type === 'EMAIL' && user.locked }}</th>
      <th>{{ user.created_at }}</th>
      <th>{{ user.updated_at }}</th>
      <td class="actions">
        <button (click)="deleteUser(user.id)">Delete</button>
        <button (click)="unlockUser(user.id)">Unlock</button>
      </td>
    </tr>
  </tbody>
</table>

<h1>Import playlist into session backlog</h1>
<label>
  Session code
  <input [(ngModel)]="sessionCode" />
</label>
<label>
  Spotify Playlist id
  <input [(ngModel)]="spotifyPlaylistId" />
</label>
<button (click)="importPlaylist()">Import</button>
<p *ngIf="error">{{ error }}</p>
