h1 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  & > * {
    width: 300px;
  }
}

.login-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  & > * {
    width: 300px;
    margin-top: 16px;
  }

  & > a {
    text-align: center;
  }
}

button {
  margin: auto;
  min-width: 15rem;
  text-align: center;
}

div.register-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  & > * {
    margin-top: 16px;
    width: 300px;
  }
}

.error {
  color: red;
}
