<h1>Prends part à la fête !</h1>

<main>
  <div>
    <img src="/assets/logo-with-title-dark.webp" alt="logo" />
  </div>
  <div class="login-box">
    <a (click)="fbLogin()">Facebook</a>
    <a (click)="emailLogin = !emailLogin">Se connecter avec un email</a>
    <ng-container *ngIf="emailLogin">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="register-form">
          <input
            #input
            name="email"
            formControlName="email"
            placeholder="Ton email"
          />
          <div
            class="error"
            *ngIf="form.controls.email.touched && form.controls.email.invalid"
          >
            L'email est invalide
          </div>
          <input
            #input
            type="password"
            name="password"
            formControlName="password"
            placeholder="Ton mot de passe"
          />
          <div
            class="error"
            *ngIf="
              form.controls.password.touched && form.controls.password.invalid
            "
          >
            Le mot de passe doit contenir au moins 8 caractères et au maximum 64
            caractères
          </div>
          <button
            class="bg-yellow-primary"
            type="submit"
            [disabled]="form.invalid"
          >
            Se connecter
            <fa-icon
              *ngIf="loading"
              [icon]="faCircle"
              animation="spin"
            ></fa-icon>
          </button>
          <div class="error" *ngIf="error">{{ error }}</div>
        </div>
      </form>
    </ng-container>
    <a routerLink="/user/register">Créer un compte avec un email</a>
  </div>
</main>
