{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "inputSourceMap": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "baseUrl": "./",
    "paths": {
      "@musira/api-interfaces": ["../../libs/api-interfaces/src/index.ts"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "minify": false
}
